<div class="container mt-5">
  <h1>Gestion page Services</h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/cms/services/update/{{service.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="service">Identifiant de l'article</label>
              <input type="text" class="form-control" name="id" value="{{service.id}}">
            </div>
            <div class="form-group">
              <label for="titre">Titre section</label>
              <input type="text" class="form-control" name="titre" value="{{service.titre}}">
            </div>
            <div class="form-group">
                <label for="contenu">Contenu</label>
                <textarea class="form-control"  rows="3" type="text" class="form-control" name="contenu">{{service.contenu}}</textarea>
            </div>
            <a href="/cms/services/update/:id{{service.id}}"><button type="submit" class="btn btn-dark">Mettre à jour</button></a>
            <a href="/cms/services/delete/{{service.id}}"><button type="button" class="btn btn-dark">Supprimer</button></a>
            <a href="/cms/services/allServices"><button type="button" class="btn btn-dark">Retour</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>