<div class="container px-lg-5">
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border bg-light">
        <h3>Remplissez ce formulaire, on s’occupe de votre marketing web!</h3>
        <form method="POST" action="/contact" class="container" id='validationform'>
            <input type="text" name="nom" id="nom" placeholder="NOM" class="nom">
            <input type="text" name="prenom" id="prenom" placeholder="PRÉNOM" class="prenom">
            <div><input type="text" name="courriel" id="courriel" placeholder="COURRIEL" rclass="tele-courriel"></div>
            <div><input type="tel" name="phone" placeholder="TÉLÉPHONE" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="telelphone" class="tele-courriel"></div>
            <div><textarea name="commentaire" id="commentaire" cols="50" rows="10" placeholder="VOTRE MESSAGE" ></textarea></div>
            <button type="submit" class="btn btn-primary btn-lg butonContact">Envoyer</button>
        </form> 
    {{#if errors}}
    <div class="error">{{log errors}}</div>
    {{/if}}
    </div>
    
   
    <div class="col py-3 px-lg-5 border bg-light contactcord">
        <h1>Coordonnées</h1>
        <p>1619 Rue William, Suite 206,</p>
        <p>Québec, Québec H3J 1R1</p>
        <p><a  href="mailto:marketing@marketing.com">marketing@marketing.com</a></p>
        <p>+1 123-123-1234</p>
        <div class="iconesociauxContact">
            <ul>
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="#"> <i class="fab fa-twitter"></i></i></a></li>
            </ul>
        </div>
    </div>
</div>
</div>