<section class="bgyellow py-5 my-5 align-middle text-center txtgrisf ">
   <h2 class="mb-0 txtbold">AGENCE MARKETING</h2>
</section>

<div class="container">
   {{#each articlesAccueil}}
   <h3 class="txtyellow txtbold my-5" data-aos="zoom-in-down">{{this.titre}}</h3>
   <section class="container-fluid" id="flexiSect">
      <div class="leftSlider" data-aos="fade-right">
         <article class="text-justify">
            <p>{{this.contenu}}</p>
         </article>
      </div>
      <div class="rightSlider" data-aos="fade-left"><img src="/images/{{this.image}}" class="rounded-lg shadow"
            alt="entreprise">
      </div>
   </section>
   {{/each}}
   <h3 class="txtyellow txtbold my-4">NOS SERVICES</h3>
   <div id="LosangesTab">
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Design</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Référencements naturel</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Référencement payant</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Analytics</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Développement Web</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
      <div class="losange" data-aos="zoom-in">
         <a href="/services/#">
            <div class="triangle1">
               <table>
                  <td>
                     <div class="Losangetext">Stratégie Web</div>
                  </td>
               </table>
            </div>
            <div class="triangle2"></div>
         </a>
      </div>
   </div>
   <div>
      <h3 class="txtyellow txtbold my-4">NOTRE ÉQUIPE</h3>
      <div id="containerImageEmp">
         <img src="/images/homme1.png" alt="employé 1" id="imageEmploie1">
         <img src="/images/femme.png" alt="employé 2" id="imageEmploie2">
         <img src="/images/homme2.png" alt="employé 3" id="imageEmploie3">
      </div>
   </div>
</div>