<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/hover.css/css/hover-min.css">
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <title>Marketing web</title>
</head>

<body>
    <header>
        <a href="/"><svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" width="210mm" height="297mm"
                viewBox="0 0 210 297" version="1.1" id="svg8" inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
                sodipodi:docname="logoV3.svg" alt="Log de compagnie">
                <defs id="defs2">
                    <filter id="glow" x="-50%" y="-50%" width="200%" height="200%" />
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5183"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5185" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5179"
                        x="-0.17567085" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5181" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5175"
                        x="-0.17567088" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5177" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5171"
                        x="-0.17567083" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5173" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5167"
                        x="-0.17567088" width="1.3513417" y="-0.106137" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5169" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5163"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5165" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5159"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5161" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5155"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5157" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5151"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5153" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5147"
                        x="-0.17567085" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5149" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5143"
                        x="-0.17567088" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5145" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5139"
                        x="-0.17567083" width="1.3513417" y="-0.10613702" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5141" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5135"
                        x="-0.17567088" width="1.3513417" y="-0.106137" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5137" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5131"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5133" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5127"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5129" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter5123"
                        x="-0.17567085" width="1.3513417" y="-0.10613701" height="1.212274">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="4.8707917" id="feGaussianBlur5125" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8169"
                        x="-0.37004558" width="1.7400912" y="-0.22357453" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8171" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8173"
                        x="-0.37004558" width="1.7400912" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8175" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8177"
                        x="-0.37004558" width="1.7400912" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8179" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8181"
                        x="-0.37004552" width="1.740091" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8183" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8185"
                        x="-0.37004552" width="1.740091" y="-0.2235745" height="1.447149">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8187" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8189"
                        x="-0.37004552" width="1.740091" y="-0.22357452" height="1.447149">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8191" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8193"
                        x="-0.37004558" width="1.7400912" y="-0.22357453" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8195" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8197"
                        x="-0.37004558" width="1.7400912" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8199" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8201"
                        x="-0.37004558" width="1.7400912" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8203" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8205"
                        x="-0.37004552" width="1.740091" y="-0.22357455" height="1.4471491">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8207" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8209"
                        x="-0.37004552" width="1.740091" y="-0.2235745" height="1.447149">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8211" />
                    </filter>
                    <filter inkscape:collect="always" style="color-interpolation-filters:sRGB" id="filter8213"
                        x="-0.37004552" width="1.740091" y="-0.22357452" height="1.447149">
                        <feGaussianBlur inkscape:collect="always" stdDeviation="10.260181" id="feGaussianBlur8215" />
                    </filter>
                </defs>
                <sodipodi:namedview id="base" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0"
                    inkscape:pageopacity="0.0" inkscape:pageshadow="2" inkscape:zoom="0.52095061"
                    inkscape:cx="-61.942484" inkscape:cy="557.99226" inkscape:document-units="mm"
                    inkscape:current-layer="layer3" inkscape:document-rotation="0" showgrid="false"
                    inkscape:window-width="1920" inkscape:window-height="1017" inkscape:window-x="-8"
                    inkscape:window-y="-8" inkscape:window-maximized="1" />
                <metadata id="metadata5">
                    <rdf:RDF>
                        <cc:Work rdf:about="">
                            <dc:format>image/svg+xml</dc:format>
                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                            <dc:title></dc:title>
                        </cc:Work>
                    </rdf:RDF>
                </metadata>
                <g inkscape:groupmode="layer" id="layer1" inkscape:label="Calque 1">
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971"
                        d="M 15.567831,154.4678 C 40.247104,121.43853 60.150085,84.858571 80.553529,48.856911 c 0,0 1.558636,0.95049 1.558636,0.95049 v 0 c -15.283664,26.77242 -24.537477,42.49885 -39.030282,69.844769 -5.025515,9.48247 -9.713554,19.1588 -14.612309,28.71445 -1.824697,3.55933 -3.705202,7.08667 -5.557799,10.63001 0,0 -7.343944,-4.52883 -7.343944,-4.52883 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2"
                        d="m 57.634724,50.412841 c 24.679273,33.02927 44.582256,69.609229 64.985696,105.610889 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64158,112.5744 85.148776,85.228471 c -5.025515,-9.48247 -9.713555,-19.1588 -14.612309,-28.71445 -1.824697,-3.55933 -3.705202,-7.08667 -5.557799,-10.63 0,0 -7.343944,4.52882 -7.343944,4.52882 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-27"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.609229 -64.9857,-105.610889 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.77242 24.53747,42.49885 39.03028,69.844769 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-7"
                        d="m 148.67614,50.525891 c -24.67927,33.02927 -44.58226,69.609229 -64.985705,105.610889 0,0 -1.558637,-0.95049 -1.558637,-0.95049 v 0 c 15.283662,-26.77241 24.537482,-42.49884 39.030292,-69.844759 5.02551,-9.48247 9.71355,-19.15881 14.61231,-28.71446 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-9"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58226,69.60923 64.9857,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.8285,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-1"
                        d="m 57.63472,267.80653 c 24.67928,-33.02928 44.58226,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53748,42.49885 -39.03028,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34395,-4.52882 -7.34395,-4.52882 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-27-8"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="fill:#f9e547;stroke:#f9e547;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-7-4"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.9857,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53748,42.49884 39.03029,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                </g>
                <g inkscape:groupmode="layer" id="layer3" inkscape:label="Calque 3" style="display:inline">
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8169)"
                        id="path971-25"
                        d="M 15.56784,154.4678 C 40.24711,121.43853 60.15009,84.85858 80.55353,48.856915 c 0,0 1.55864,0.95049 1.55864,0.95049 v 0 C 66.82851,76.57983 57.57469,92.30626 43.08189,119.65217 c -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55933 -3.7052,7.08667 -5.5578,10.63001 0,0 -7.34394,-4.52883 -7.34394,-4.52883 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8173)"
                        id="path971-2-4"
                        d="m 57.63473,50.412845 c 24.67927,33.029275 44.58226,69.609225 64.98569,105.610885 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64159,112.5744 85.14878,85.22848 80.12327,75.74601 75.43523,66.06967 70.53647,56.514025 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63 0,0 -7.34394,4.52882 -7.34394,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8177)"
                        id="path971-27-5"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.60922 -64.9857,-105.610885 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.772425 24.53747,42.498855 39.03028,69.844765 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8181)"
                        id="path971-2-7-8"
                        d="m 148.67614,50.525895 c -24.67927,33.029275 -44.58226,69.609225 -64.9857,105.610885 0,0 -1.55864,-0.95049 -1.55864,-0.95049 v 0 c 15.28367,-26.77241 24.53748,-42.49884 39.03029,-69.84475 5.02551,-9.48247 9.71355,-19.15882 14.61231,-28.714465 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8185)"
                        id="path971-9-4"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58227,69.60923 64.98571,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.82851,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5163)"
                        id="path971-2-1-5"
                        d="m 57.63472,267.80653 c 24.67929,-33.02928 44.58227,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53747,42.49885 -39.03027,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34396,-4.52882 -7.34396,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8189)"
                        id="path971-27-8-7"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5155)"
                        id="path971-2-7-4-6"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.98569,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53747,42.49884 39.03028,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8193)"
                        id="path4851"
                        d="M 15.56784,154.4678 C 40.24711,121.43853 60.15009,84.85858 80.55353,48.856915 c 0,0 1.55864,0.95049 1.55864,0.95049 v 0 C 66.82851,76.57983 57.57469,92.30626 43.08189,119.65217 c -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55933 -3.7052,7.08667 -5.5578,10.63001 0,0 -7.34394,-4.52883 -7.34394,-4.52883 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8197)"
                        id="path4853"
                        d="m 57.63473,50.412845 c 24.67927,33.029275 44.58226,69.609225 64.98569,105.610885 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64159,112.5744 85.14878,85.22848 80.12327,75.74601 75.43523,66.06967 70.53647,56.514025 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63 0,0 -7.34394,4.52882 -7.34394,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8201)"
                        id="path4855"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.60922 -64.9857,-105.610885 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.772425 24.53747,42.498855 39.03028,69.844765 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8205)"
                        id="path4857"
                        d="m 148.67614,50.525895 c -24.67927,33.029275 -44.58226,69.609225 -64.9857,105.610885 0,0 -1.55864,-0.95049 -1.55864,-0.95049 v 0 c 15.28367,-26.77241 24.53748,-42.49884 39.03029,-69.84475 5.02551,-9.48247 9.71355,-19.15882 14.61231,-28.714465 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8209)"
                        id="path4859"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58227,69.60923 64.98571,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.82851,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5131)"
                        id="path4861"
                        d="m 57.63472,267.80653 c 24.67929,-33.02928 44.58227,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53747,42.49885 -39.03027,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34396,-4.52882 -7.34396,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffe40d;fill-opacity:1;stroke:#fadd00;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter8213)"
                        id="path4863"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5123)"
                        id="path4865"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.98569,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53747,42.49884 39.03028,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                </g>
                <g inkscape:groupmode="layer" id="layer4" inkscape:label="Calque 4" style="display:inline">
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5183)"
                        id="path7127"
                        d="M 15.56784,154.4678 C 40.24711,121.43853 60.15009,84.85858 80.55353,48.856915 c 0,0 1.55864,0.95049 1.55864,0.95049 v 0 C 66.82851,76.57983 57.57469,92.30626 43.08189,119.65217 c -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55933 -3.7052,7.08667 -5.5578,10.63001 0,0 -7.34394,-4.52883 -7.34394,-4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5179)"
                        id="path7129"
                        d="m 57.63473,50.412845 c 24.67927,33.029275 44.58226,69.609225 64.98569,105.610885 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64159,112.5744 85.14878,85.22848 80.12327,75.74601 75.43523,66.06967 70.53647,56.514025 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63 0,0 -7.34394,4.52882 -7.34394,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5175)"
                        id="path7131"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.60922 -64.9857,-105.610885 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.772425 24.53747,42.498855 39.03028,69.844765 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5171)"
                        id="path7133"
                        d="m 148.67614,50.525895 c -24.67927,33.029275 -44.58226,69.609225 -64.9857,105.610885 0,0 -1.55864,-0.95049 -1.55864,-0.95049 v 0 c 15.28367,-26.77241 24.53748,-42.49884 39.03029,-69.84475 5.02551,-9.48247 9.71355,-19.15882 14.61231,-28.714465 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5167)"
                        id="path7135"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58227,69.60923 64.98571,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.82851,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5163)"
                        id="path7137"
                        d="m 57.63472,267.80653 c 24.67929,-33.02928 44.58227,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53747,42.49885 -39.03027,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34396,-4.52882 -7.34396,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5159)"
                        id="path7139"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5155)"
                        id="path7141"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.98569,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53747,42.49884 39.03028,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5151)"
                        id="path7143"
                        d="M 15.56784,154.4678 C 40.24711,121.43853 60.15009,84.85858 80.55353,48.856915 c 0,0 1.55864,0.95049 1.55864,0.95049 v 0 C 66.82851,76.57983 57.57469,92.30626 43.08189,119.65217 c -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55933 -3.7052,7.08667 -5.5578,10.63001 0,0 -7.34394,-4.52883 -7.34394,-4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5147)"
                        id="path7145"
                        d="m 57.63473,50.412845 c 24.67927,33.029275 44.58226,69.609225 64.98569,105.610885 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64159,112.5744 85.14878,85.22848 80.12327,75.74601 75.43523,66.06967 70.53647,56.514025 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63 0,0 -7.34394,4.52882 -7.34394,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5143)"
                        id="path7147"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.60922 -64.9857,-105.610885 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.772425 24.53747,42.498855 39.03028,69.844765 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5139)"
                        id="path7149"
                        d="m 148.67614,50.525895 c -24.67927,33.029275 -44.58226,69.609225 -64.9857,105.610885 0,0 -1.55864,-0.95049 -1.55864,-0.95049 v 0 c 15.28367,-26.77241 24.53748,-42.49884 39.03029,-69.84475 5.02551,-9.48247 9.71355,-19.15882 14.61231,-28.714465 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5135)"
                        id="path7151"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58227,69.60923 64.98571,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.82851,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5131)"
                        id="path7153"
                        d="m 57.63472,267.80653 c 24.67929,-33.02928 44.58227,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53747,42.49885 -39.03027,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34396,-4.52882 -7.34396,-4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5127)"
                        id="path7155"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="display:inline;fill:#ffea41;fill-opacity:1;stroke:#ffe941;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;filter:url(#filter5123)"
                        id="path7157"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.98569,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53747,42.49884 39.03028,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                </g>
                <g inkscape:groupmode="layer" id="layer2" inkscape:label="Calque 2" style="display:inline">
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971"
                        d="M 15.567831,154.4678 C 40.247104,121.43853 60.150085,84.858571 80.553529,48.856911 c 0,0 1.558636,0.95049 1.558636,0.95049 v 0 c -15.283664,26.77242 -24.537477,42.49885 -39.030282,69.844769 -5.025515,9.48247 -9.713554,19.1588 -14.612309,28.71445 -1.824697,3.55933 -3.705202,7.08667 -5.557799,10.63001 0,0 -7.343944,-4.52883 -7.343944,-4.52883 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2"
                        d="m 57.634724,50.412841 c 24.679273,33.02927 44.582256,69.609229 64.985696,105.610889 0,0 1.55864,-0.95049 1.55864,-0.95049 v 0 C 108.8954,128.30082 99.64158,112.5744 85.148776,85.228471 c -5.025515,-9.48247 -9.713555,-19.1588 -14.612309,-28.71445 -1.824697,-3.55933 -3.705202,-7.08667 -5.557799,-10.63 0,0 -7.343944,4.52882 -7.343944,4.52882 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-27"
                        d="m 190.74303,154.58086 c -24.67927,-33.02927 -44.58225,-69.609229 -64.9857,-105.610889 0,0 -1.55863,0.95048 -1.55863,0.95048 v 0 c 15.28366,26.77242 24.53747,42.49885 39.03028,69.844769 5.02552,9.48248 9.71355,19.1588 14.61231,28.71446 1.8247,3.55933 3.7052,7.08667 5.5578,10.63 0,0 7.34394,-4.52882 7.34394,-4.52882 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-7"
                        d="m 148.67614,50.525891 c -24.67927,33.02927 -44.58226,69.609229 -64.985705,105.610889 0,0 -1.558637,-0.95049 -1.558637,-0.95049 v 0 c 15.283662,-26.77241 24.537482,-42.49884 39.030292,-69.844759 5.02551,-9.48247 9.71355,-19.15881 14.61231,-28.71446 1.82469,-3.55933 3.7052,-7.08667 5.55779,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-9"
                        d="m 15.56783,163.75156 c 24.67927,33.02928 44.58226,69.60923 64.9857,105.6109 0,0 1.55863,-0.95049 1.55863,-0.95049 v 0 C 66.8285,241.63955 57.57469,225.91311 43.08188,198.56719 38.05637,189.08473 33.36833,179.4084 28.46957,169.85274 c -1.82469,-3.55933 -3.7052,-7.08667 -5.5578,-10.63001 0,0 -7.34394,4.52883 -7.34394,4.52883 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-1"
                        d="m 57.63472,267.80653 c 24.67928,-33.02928 44.58226,-69.60923 64.9857,-105.6109 0,0 1.55864,0.95049 1.55864,0.95049 v 0 c -15.28366,26.77242 -24.53748,42.49885 -39.03028,69.84477 -5.02552,9.48247 -9.71356,19.1588 -14.61231,28.71445 -1.8247,3.55934 -3.7052,7.08668 -5.5578,10.63001 0,0 -7.34395,-4.52882 -7.34395,-4.52882 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-27-8"
                        d="m 190.74304,163.6385 c -24.67928,33.02927 -44.58226,69.60924 -64.98571,105.6109 0,0 -1.55863,-0.95048 -1.55863,-0.95048 v 0 c 15.28366,-26.77243 24.53747,-42.49886 39.03028,-69.84477 5.02553,-9.48249 9.71355,-19.15881 14.61231,-28.71447 1.8247,-3.55933 3.7052,-7.08667 5.5578,-10.63 0,0 7.34395,4.52882 7.34395,4.52882 z" />
                    <path
                        style="fill:#fdf6be;fill-opacity:1;stroke:#ffed5a;stroke-width:1.8;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="path971-2-7-4"
                        d="m 148.67614,267.69348 c -24.67927,-33.02927 -44.58226,-69.60923 -64.9857,-105.6109 0,0 -1.55864,0.95049 -1.55864,0.95049 v 0 c 15.28366,26.77242 24.53748,42.49884 39.03029,69.84476 5.02551,9.48248 9.71355,19.15881 14.61231,28.71447 1.82469,3.55933 3.7052,7.08667 5.55779,10.63 0,0 7.34395,-4.52882 7.34395,-4.52882 z" />
                </g>
            </svg>
        </a>
        <nav class="navbar">
            <ul class="nav">
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/services/#609a90b92fa6d2171b939a82">Référencements naturel</a>
                        <a class="dropdown-item" href="/services/#609a909b2fa6d2171b939a81">Référencement payant</a>
                        <a class="dropdown-item" href="/services/#609a85972fa6d2171b939a7f">Analytics</a>
                        <a class="dropdown-item" href="/services/#609a84672fa6d2171b939a7d">Développement Web</a>
                        <a class="dropdown-item" href="/services/#609a8ec62fa6d2171b939a80">Stratégie Web</a>
                        <a class="dropdown-item" href="/services/#609a85512fa6d2171b939a7e">Design</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog" id="en-cours">Blog </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/api" id="en-cours">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cms">Connexion</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
            </form>
        </nav>
    </header>
    {{{body}}}
    <footer>

        <div>
            <h4 class="mb-4">Services</h4>
            <a href="services.html/#609a85512fa6d2171b939a7e">Design</a>
            <a href="services.html/#609a85972fa6d2171b939a7f">Analytics</a>
            <a href="services.html/#609a8ec62fa6d2171b939a80">Stratégie Web</a>
            <a href="services.html/#609a84672fa6d2171b939a7d">Développement Web</a>
            <a href="services.html/#609a909b2fa6d2171b939a81">Référencement payant</a>
            <a href="services.html/#609a90b92fa6d2171b939a82">Référencements naturel</a>
        </div>
        <div>
            <h4 class="mb-4">Blog</h4>
            <a href="blog.html/#">Tout savoir sur les couleurs.</a>
            <a href="blog.html/#">Comment rendre son client fidèle.</a>
            <a href="blog.html/#">Comment augmenter sa visibilité sur le net.</a>
        </div>
        <div>
            <h4 class="mb-4">Contact</h4>
            <address class="mb-0">
            <p>1619 Rue William, Suite 206,</p>
            <p>Québec, Québec H3J 1R1</p>
            <p><a class="my-4" href="mailto:marketing@marketing.com">marketing@marketing.com</a></p>
            <a class="" href="tel:418-123-1234">Tél : 418-123-1234</a><br><br>
            </address>
            <!--Icon reseau sociaux-->
            <div class="iconesociaux">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook icones"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram icones"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in icones"></i></a></li>
                    <li><a href="#"> <i class="fab fa-twitter icones"></i></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/3651c2a668.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"
        integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg=="
        crossorigin="anonymous"></script>
    <script>AOS.init();</script>
    <script src="/javascripts/scrypt.js"></script>
</body>

</html>