<section class="bgyellow py-5 my-5 align-middle text-center txtgrisf ">
    <h2 class="mb-0 txtbold">NOS SERVICES</h2>
</section>

<section class="distanceEnbas">
    <div class="container">
        {{!-- Numero des bulles de gauche à droite de haut en bas --}}
        <div class="row">
            <div class="col-sm backgrounclor">
                <a href="/services/#609a8ec62fa6d2171b939a80">
               <div class="bulle_service service_bulle1 border border-warning" data-aos="flip-left" >Stratégie Web</div></a>
               <a href="/services/#609a85972fa6d2171b939a7f">
                <div class="bulle_service service_bulle3 border border-dark" data-aos="flip-right">Analytics</div></a>
                <a href="/services/#609a909b2fa6d2171b939a81">
                <div class="bulle_service service_bulle5  border border-warning" data-aos="flip-left">Référencement payant</div></a>
            </div>
            <div class="col-sm backgrounclor">
                <a href="/services/#609a84672fa6d2171b939a7d">
                <div class="bulle_service service_bulle2 border border-warning" data-aos="flip-left">Développement <br> Web</div></a>
                <a href="/services/#609a85512fa6d2171b939a7e">
                <div class="bulle_service service_bulle4 border border-warning" data-aos="flip-right">Design</div></a>
                <a href="/services/#609a90b92fa6d2171b939a82">
                <div class="bulle_service service_bulle6  border border-dark" data-aos="flip-right">Référencement naturel</div></a>
            </div>
        </div>
    </div>
</section>


<div class="container">
    {{#each services}}
        <div class="row">
            <div class="col-8">
                <h3 id="{{this.id}}" class="txtyellow txtbold my-5" data-aos="zoom-in">{{this.titre}}</h3>
                <p class="mb-5" data-aos="fade-right">{{this.contenu}}</p>
            </div>
            <div class="col-4 mt-5">
                <img  data-aos="fade-left" src="/images/{{this.image}}" alt="{{this.titre}}" class="mt rounded-lg shadow-lg" width="300" height="300">
            </div>
        </div>
    {{/each}}
</div>