<section class="bgyellow py-5 my-5 align-middle text-center txtgrisf ">
   <h2 class="mb-0 txtbold">{{title}}</h2>
</section>

<div class="container mt-5">
        <h1>Modéle de données pour l'API REST du blog</h1>
        <br>
        <h2> Notre API est accessible via Postman avec le lien suivant : </h2>
        <br>
        <h3> <a href="http://localhost:3000/api/articles"> Articles</a></h3>
        <br>
        <h1>Pour avoir les articles par catégorie, il faudrais ajouter la catégorie d'article au lien de l'artcle. </h1>
        <br>
        <h2> Les articles par catégorie sont accessibe via les liens suivants : </h2>
        <br>
        <div><h3> <a href="http://localhost:3000/api/articles/categorie/Web"> Catégorie Web</a></h3></div>
        <div><h3> <a href="http://localhost:3000/api/articles/categorie/Animation"> Catégorie Animation</a></h3></div>
        <div><h3> <a href="http://localhost:3000/api/articles/categorie/Design"> Catégorie Design</a></h3></div>
        <br>
        <h2> Pour trouver un article par identifiant </h2>
        <div><h3> <a href="http://localhost:3000/api/articles/60982b00f5b9264388c35073"> Par identifiant</a></h3></div>
</div>
