body {
    background-color: #97999b;
    font-family: 'Alef', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
    line-height: 32px;
}

.txtbold {
    font-weight: 700;
}

.txtyellow {
    color: #f9e547;
}

.txtgrisf {
    color: #373a36;
}

.bgyellow {
    background-color: #f9e547;
}

.bggrisf {
    background-color: #373a36;
}


/* style pour le nav et les links */

header {
    background-color: #373a36;
    display: flex;
    justify-content: space-between;
}

nav {
    position: sticky;
    text-align: end;
}

nav li {
    margin-right: 15px;
}

nav a {
    font-size: 16px;
    float: right;
    color: #f9e547 !important;
    text-align: center;
    text-decoration: none;
}

.navbar li::after {
    content: '';
    display: block;
    width: 0px;
    margin: 5px auto 0 auto;
    height: 2px;
    border-radius: 2px;
    background: #f9e547;
    transition: all 0.2s ease-out;
    margin-top: 35px;
}

.navbar li:hover::after {
    width: 100%;
}

.dropdown-menu {
    background-color: #373a36;
}

.dropdown-menu a:hover {
    background-color: black;
}

.navbar {
    justify-content: flex-end !important;
}


/* logo svg */

svg {
    width: 150px;
    height: 90px;
}

#layer2 path,
#layer3 path,
#layer4 path {
    opacity: 0;
}

a:hover svg #layer2 path,
a:hover svg #layer3 path,
a:hover svg #layer4 path {
    animation: changeVisible 7s linear;
}

a svg #layer2 path {
    opacity: 1;
}

a:hover svg #layer2 path {
    animation: changeHidden 2s linear 2s;
}

@keyframes changeVisible {
    0% {
        opacity: 0;
    }
    4% {
        opacity: .9;
    }
    6% {
        opacity: .85;
    }
    8% {
        opacity: .95;
    }
    10% {
        opacity: .90;
    }
    11% {
        opacity: .922;
    }
    12% {
        opacity: .9;
    }
    14% {
        opacity: .95;
    }
    16% {
        opacity: .98;
    }
    17% {
        opacity: .9;
    }
    19% {
        opacity: .93;
    }
    20% {
        opacity: .99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: .94;
    }
    28% {
        opacity: .98;
    }
    37% {
        opacity: .93;
    }
    38% {
        opacity: .5;
    }
    39% {
        opacity: .96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: .97;
    }
    46% {
        opacity: .94;
    }
    56% {
        opacity: .9;
    }
    58% {
        opacity: .9;
    }
    60% {
        opacity: .99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: .9;
    }
    72% {
        opacity: .95;
    }
    93% {
        opacity: .93;
    }
    95% {
        opacity: .95;
    }
    97% {
        opacity: .93;
    }
    100% {
        opacity: 1;
    }
}

@keyframes changeHidden {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/*** page d'Accueil ***/


/** entreprise **/

.leftSlider {
    width: 45%;
}

.rightSlider {
    width: 45%;
}

#flexiSect {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}


/* service */


/** losange **/

.losange {
    top: 190px;
    left: 370px;
    border: 0px solid transparent;
    display: inline-block;
    margin: auto;
    margin-bottom: 11px;
    transform: rotate(315deg);
}

.losange:hover {
    transform: rotate(0);
    animation-duration: 1.5s;
}

#LosangesTab {
    column-count: 3;
}

.triangle1 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #373a36;
}

.triangle2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #373a36;
}

.Losangetext {
    text-align: center;
    bottom: -75px;
    right: 59px;
    position: relative;
    margin: auto;
    width: 120px;
}

.losange a {
    text-decoration: none;
    color: #f9e547;
}


/** Employe **/

#containerImageEmp {
    display: flex;
    justify-content: space-evenly;
}

#containerImageEmp img {
    height: 250px;
}


/***************************************************
* footer
*
**********************************************/

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #373a36;
    margin-top: 30px;
    padding: 40px;
}

footer div {
    text-align: center;
    color: #f9e547;
    line-height: 32px;
}

footer p {
    text-align: center;
    color: white;
    line-height: 16px;
}

footer div a,
span {
    display: block;
    color: aliceblue;
}

footer div a:hover {
    color: #f9e547;
}

footer div a:link {
    text-decoration: none;
}

footer div a,
span {
    display: block;
    color: aliceblue;
}

footer div ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.iconesociaux {
    margin-right: 35px;
}

.iconesociaux {
    margin-right: 35px;
}

.icones:hover {
    transform: scale(2);
    color: #f9e547;
}


/***********************************************
* Page services
*
*******************************************/

.bulle_service {
    position: relative;
    color: #f9e547;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 1px 1px 50px #f9e547;
    background-color: #373a36;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Numero des bulles de gauche à droite de haut en bas */

.service_bulle1 {
    padding-top: 60px;
    top: 30px;
    left: 60%;
}

.service_bulle2 {
    padding-top: 57px;
    left: 150px;
    top: 30px;
}

.service_bulle3 {
    color: #373a36;
    padding-top: 47px;
    background-color: #f9e547;
    width: 120px;
    height: 120px;
    box-shadow: 1px 1px 50px rgb(10, 10, 10);
    left: 100px;
}

.service_bulle4 {
    padding-top: 45px;
    width: 120px;
    height: 120px;
    top: 30px;
}

.service_bulle5 {
    padding-top: 55px;
    left: 180px;
    top: 55px;
}

.service_bulle6 {
    color: #373a36;
    padding-top: 57px;
    background-color: #f9e547;
    box-shadow: 1px 1px 50px rgb(10, 10, 10);
    left: 280px;
    top: 100px
}


/**********************************
* Animation page services
*
***************************************/

.bulle_service {
    transition: 1s all ease-in-out;
}

.bulle_service:hover {
    transition: 1s all ease-in-out;
    transform: scale(1.5);
}


/**********************************
* Animation page blog
*
***************************************/

.hvr-outline-in:before {
    border: #f9e547 solid 4px;
}

.container {
    margin-top: 50px;
}

.distanceEnbas {
    margin-bottom: 150px;
}

.colordate {
    color: #f9e547;
}

.card-title:hover {
    color: rgb(14, 14, 15);
}

.card a {
    text-decoration: none;
    color: darkblue;
}

.centrerblog {
    text-align: center;
    margin-bottom: 100px;
}

.dropdown-item {
    color: #f9e547;
}

.dropdown-item:hover {
    color: white;
}


/**********************************
* Page contact
*
***************************************/

form input,
form textarea {
    width: 300px;
    /* border: 0.1rem solid; */
    border: none;
    background-color: #97999b;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
}

form select {
    background-color: #e7e0e0;
    color: #7a7676;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
}

form textarea {
    resize: none;
    width: 100%;
}

.butonContact {
    background-color: #f9e547;
    border-color: #f9e547;
    color: #373a36;
    position: relative;
    top: 100%;
    left: 10%;
}

.butonContact:hover {
    background-color: #373a36;
    border-color: #373a36;
    color: #f9e547;
}

::placeholder {
    color: #f9e547;
}

.iconesociauxContact ul {
    padding: 0;
}

.iconesociauxContact ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

.iconesociauxContact i {
    color: #373a36;
}

.iconesociauxContact i:hover {
    transform: scale(2);
    color: #f9e547;
}

.contactcord {
    padding-top: 200px !important;
    text-align: center;
}

.contactcord p {
    text-align: center;
}

.contactcord a {
    color: black;
}

.contactcord a:hover {
    color: #f9e547;
}


/**************************************
* Page connexion
*
****************************************/

.jumbotron {
    background-color: #97999b;
}

.centrer {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.lead {
    text-align: center;
}

.mt {
    margin-top: 100px;
}

.centreconfirmation {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.alert {
    width: 730px;
    color: red;
}