<div class="container mt-5">
  <h1>Gestion page Accueil</h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/cms/accueil" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="blog">Titre section</label>
              <input type="text" class="form-control" name="titre">
            </div>
            <div class="form-group">
              <label for="contenu">Contenu</label>
              <textarea class="form-control" rows="3" type="text" class="form-control" name="contenu"></textarea>
            </div>
            <div class="form-group">
              <label for="image">image</label>
              <input type="file" class="form-control-file" name="image">
            </div>
            <a><button type="submit" class="btn btn-dark">Mettre à jour</button></a>
            <a><button type="button" class="btn btn-dark">Supprimer</button></a>
            <a><button type="button" class="btn btn-dark">Retour</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>