<div class="jumbotron centrer">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">CMS</h1>
    <p class="lead">Gestion du contenu du site Marketing Web.</p>
    <hr class="my-4">
    <a class="btn btn-dark btn-lg" href="/users/login" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="/users" role="button">S'enregistrer</a>
  </div>
</div>