<div class="container mt-5">
   <h1>Gestion page Accueil</h1>
   <div class="row">
      <div class="col-sm-8">
         <div class="card">
            <div class="card-body">
               <form action="/cms/accueil/accueilS/{{articlesAccueil.id}}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                     <label for="blog">id section</label>
                     <input type="text" class="form-control" name="titre" value="{{articlesAccueil.id}}">
                  </div>
                  <div class="form-group">
                     <label for="blog">Titre section</label>
                     <input type="text" class="form-control" name="titre" value="{{articlesAccueil.titre}}">
                  </div>
                  <div class="form-group">
                     <label for="contenu">Contenu</label>
                     <textarea class="form-control" rows="3" type="text" class="form-control"
                        name="contenu">{{articlesAccueil.contenu}}</textarea>
                  </div>
                  <div class="form-group">
                     <label for="image">image</label>
                     <input type="file" class="form-control-file" name="image">
                  </div>
                  <a href="/cms/accueil/update/{{articlesAccueil.id}}"> <button type="submit"
                        class="btn btn-dark">Mettre à
                        jour</button></a>
                  <a href="/cms/accueil/delete/{{articlesAccueil.id}}"><button type="button"
                        class="btn btn-dark">Supprimer</button></a>
                  <a href="/cms/accueil/allAccueil"><button type="button" class="btn btn-dark">Retour</button></a>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>