<div class="container mt-5">
   <h1>Gestion page Accueil</h1>
   <div class="row">
      <div class="col-sm-8">
         <div class="card">
            <div class="card-body">
               <form action="/cms/accueil/addAccueil" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                     <label for="blog">Titre section</label>
                     <input type="text" class="form-control" name="titre">
                  </div>
                  <div class="form-group">
                     <label for="contenu">Contenu</label>
                     <textarea class="form-control" rows="3" type="text" class="form-control" name="contenu"></textarea>
                  </div>
                  <div class="form-group">
                     <label for="image">image</label>
                     <input type="file" class="form-control-file" name="image">
                  </div>
                  <button type="submit" class="btn btn-dark">Ajouter</button>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>