<div class="container">
   <div class="row row-cols-1 row-cols-md-3">
      {{#each articlesAccueil}}
<<<<<<< HEAD
      <h3 class="txtyellow txtbold my-5">{{this.titre}}</h3>
      <a href="cms/accueil/accueilS/{{this.id}}">
         <section class="container-fluid">
            <div class="leftSlider">
               <article class="text-justify">
                  <p>{{this.contenu}}</p>
               </article>
            </div>
            <div class="rightSlider"><img src="../../../public/images/{{this.image}}" class="rounded-lg shadow"
                  alt="entreprise">
            </div>
         </section>
=======
      <a href="/cms/accueil/accueilS/{{this.id}}">
         <p>{{this.id}}</p>
         <h3>{{this.titre}}</h3>
         <p>{{this.contenu}}</p>
         <img src="/images/{{this.image}}" class="rounded-lg shadow" alt="entreprise">
>>>>>>> master
      </a>
      {{/each}}
   </div>
</div>