<div class="container">
      <div class="row row-cols-1 row-cols-md-3">
      {{#each article}}
        <div class="col mb-4"  id="{{this.id}}">
          <div class="card h-100">
           <img src="/images/{{this.image}}" class="card-img-top" alt="image de l'article">
            <div class="card-body">
              <a href="/cms/blog/article/{{this.id}}" class="stretched-link txtbold text-uppercase"><strong>Modifier ou supprimer</strong></a>
               <strong><h4 class="card-title mt-3">{{this.titre}}</h4></strong>
              <strong><p>{{this.categorie}}</p></strong>
              <strong><em><p>{{this.auteur}}</p></strong></em>
              <strong><p class="colordate">{{this.date}}</p></strong>
              <p class="card-text">{{this.contenu}}</p>
            </div>
          </div>
        </div>
       {{/each}}
      </div>
</div>
 <div class="text-center">
    <hr class="my-4">
    <div class="dropdown d-inline">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blog
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/blog/addArticle/">Ajouter un article</a>
        <a class="dropdown-item" href="/cms/blog/allarticles">Modifier ou supprimer un article</a>
      </div>
    </div>
    <div class="dropdown d-inline">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Service
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/services">Ajouter un article</a>
        <a class="dropdown-item" href="/cms/services/allServices">Modifier ou supprimer un article</a>
      </div>
    </div>
    <div class="dropdown d-inline ">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Accueil
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/accueil/addAccueil/">Ajouter du contenu</a>
        <a class="dropdown-item" href="/cms/accueil/allAccueil/">Modifier ou supprimer un contenu</a>
      </div>
   </div>
