<div class="container mt-5">
  <h1>Gestion page Blog</h1>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/cms/blog/update/{{article.id}}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
              <label for="blog">Identifiant de l'article</label>
              <input type="text" class="form-control" name="id" value="{{article.id}}">
            </div>
            <div class="form-group">
              <label for="blog">Titre article</label>
              <input type="text" class="form-control" name="titre" value="{{article.titre}}">
            </div>
            <div class="form-group">
              <label for="categorie">Catégorie</label>
              <input type="text" class="form-control" name="categorie" value="{{article.categorie}}">
            </div>
            <div class="form-group">
              <label for="auteur">Auteur</label>
              <input type="text" class="form-control" name="auteur" value="{{article.auteur}}">
            </div>
            <div class="form-group">
              <label for="date">Date de l'article</label>
              <input type="text" class="form-control" name="date" value="{{article.date}}">
            </div>
            <div class="form-group">
                <label for="contenu">Contenu</label>
                <textarea class="form-control"  rows="3" type="text" class="form-control" name="contenu">{{article.contenu}}</textarea>
            </div>
            <a href="/cms/blog/update/{{article.id}}"> <button type="submit" class="btn btn-dark">Mettre à jour</button></a>
            <a href="/cms/blog/delete/{{article.id}}"><button type="button" class="btn btn-dark">Supprimer </button></a>
            <a href="/cms/blog/allarticles"><button type="button" class="btn btn-dark">Retour</button></a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>