<section class="bgyellow py-5 my-5 align-middle text-center txtgrisf ">
   <h2 class="mb-0 txtbold">NOTRE BLOG</h2>
</section>
<div class="centrerblog">
        <div class="container">
                <p class="lead">Vous pouvez séléctionner nos articles par auteur, catégorie ou date.</p>
              <div class="dropdown d-inline " >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Auteurs 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/blog/auteur/Nabil Bouazzaoui">Nabil Bouazzaoui</a>
                  <a class="dropdown-item" href="/blog/auteur/Marie-Jeanne Vadnais">Marie-Jeanne Vadnais</a>
                  <a class="dropdown-item" href="/blog/auteur/Sarah Rollin Léonard">Sarah Rollin Léonard</a>
                </div>
              </div>
              <div class="dropdown d-inline ">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Catégories
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/blog/categorie/Web">Web</a>
                <a class="dropdown-item" href="/blog/categorie/Design">Design</a>
                <a class="dropdown-item" href="/blog/categorieAnimation">Animation</a>
              </div>
            </div>
              <div class="dropdown d-inline ">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dates
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/blog/date/1 JANVIER 2021">1 JANVIER 2021</a>
                <a class="dropdown-item" href="/blog/date/4 JANVIER 2021">4 JANVIER 2021</a>
                <a class="dropdown-item" href="/blog/date/13 JANVIER 2021">13 JANVIER 2021</a>
                <a class="dropdown-item" href="/blog/date/3 MARS 2021">3 MARS 2021</a>
              </div>
            </div>
      </div>
</div>
<div class="container">
      <div class="row row-cols-1 row-cols-md-3">
      {{#each article}}
        <div class="col mb-4" data-aos="zoom-in-down" id="{{this.id}}">
          <div class="card h-100  hvr-outline-in">
           <img src="/images/{{this.image}}" class="card-img-top" alt="image de l'article">
            <div class="card-body">
              <a href="#"> <strong><h4 class="card-title stretched-link">{{this.titre}}</h4></strong></a>
              <strong><p>{{this.categorie}}</p></strong>
              <strong><em><p>{{this.auteur}}</p></strong></em>
              <strong><p class="colordate">{{this.date}}</p></strong>
              <p class="card-text">{{this.contenu}}</p>
            </div>
          </div>
        </div>
       {{/each}}
      </div>
</div>