<section class="bgyellow py-5 my-5 align-middle text-center txtgrisf ">
   <h2 class="mb-0 txtbold">NOTRE BLOG</h2>
</section>
<div class="container">
      <div class="row row-cols-1 row-cols-md-3">
      {{#each articleAuteursDate}}
        <div class="col mb-4" data-aos="zoom-in-down">
          <div class="card h-100  hvr-outline-in">
           <img src="/images/{{this.image}}" class="card-img-top" alt="image de l'article">
            <div class="card-body">
              <a href="#"> <strong><h4 class="card-title stretched-link">{{this.titre}}</h4></strong></a>
              <strong><p>{{this.categorie}}</p></strong>
              <strong><em><p>{{this.auteur}}</p></strong></em>
              <strong><p class="colordate">{{this.date}}</p></strong>
              <p class="card-text">{{this.contenu}}</p>
            </div>
          </div>
        </div>
       {{/each}}
      </div>
</div>