<div class="container mt-5">
  <h1>S'enregistrer</h1>
  <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form action="/users/adduser" method="POST">
                        <div class="form-group">
                            <label for="name" required >Nom</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email" required >Email</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password" required >Mot de passe</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <button type="submit" class="btn btn-dark">S'enregistrer</button>
                    </form>
                </div>
                <a href="/users/login" class="ml-4 my-4" >Se connecter</a>
            </div>
        </div>
    </div>
</div>