<div class="container mt-5">
  <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <img src="/images/image-bannier.jpg" alt="image de confirmation">
                <div class="card-body centreconfirmation">
                    <h1> Vous avez bien été enregistré.</h1>
                    <i class="far fa-grin-beam fa-4x text-success"></i>
                    <br><br><br><br>
                    <a href="/users/login"><button type="button" class="btn btn-dark">Connectez-vous au CMS</button></a>
                </div>
            </div>
        </div>
    </div>
</div>