<div class="container mt-5">
    {{#if message}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <div>{{message}}</div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <div aria-hidden="true">&times;</div>
            </button>
          </div>
   {{/if}}
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          {{log document}}
          <form action="/users/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" required {{#if email}} value={{email}} {{/if}}>
            </div>
            <div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <button type="submit" class="btn btn-dark">Se connecter</button>
          </form>
        </div>
          <a href="/users/" class="ml-4 my-4" >Créer un compte</a>
      </div>
    </div>
  </div>
</div>
