<div class="jumbotron centrer">
  <div class="container">
    <i class="fas fa-globe fa-6x"></i>
    <h1 class="display-3">CMS</h1>
    <p class="lead">{{title}}</p>
          {{#if username}}
            <h2>{{username}}</h2>
          {{/if}}
    <hr class="my-4">
    <div class="dropdown d-inline ">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Blog
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/blog/addArticle/">Ajouter un article</a>
        <a class="dropdown-item" href="/cms/blog/allarticles">Modifier ou supprimer un article</a>
      </div>
    </div>
    <div class="dropdown d-inline ">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Service
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/services">Ajouter un article</a>
        <a class="dropdown-item" href="/cms/services/allServices">Modifier ou supprimer un article</a>
      </div>
    </div>
    <div class="dropdown d-inline ">
      <button class="btn btn-warning btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Accueil
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/cms/accueil/addAccueil/">Ajouter du contenu</a>
        <a class="dropdown-item" href="/cms/accueil/allAccueil/">Modifier ou supprimer un contenu</a>
      </div>
    </div>
  </div>
  <div>